@media (max-width: 1144px) {
  .proyect2-container__title2{
    padding-top: 100px;
  }
}

.proyect2-container{
  background-color: rgb(28, 247, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;

  &__title2{
    color:rgb(162, 0, 255);
  }
  &__description2{
    color:rgb(162, 0, 255);
  }
}