@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

@media (max-width: 900px) {
  .portfolio-container__studies-container{
    // overflow:scroll;
    height: 100%;
    margin-top: 80px !important;

  }
}
.navbar-container{
  // position:absolute;
  width:100%;
  z-index: 1;
}
.model-container{
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  // border: 1px solid red;
  background-color: rgb(2, 1, 10);
  overflow: hidden;
}



.back-container{
  position:absolute;
  width:100%;
  top: 10px;
  z-index: 2;

}

.home-container{
  
  position:absolute;
  width:100%;
  min-height:100vh;
  height: 100%;
  top:0;
  left:0;
  // border:1px solid white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



.portfolio-container{
  // border: 10px solid red;
  max-height: 100vh;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &__studies-container{
    border-radius: 5%;
    padding:20px;
    border: 1px solid white;
    color: white;
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgba(181, 223, 197, 0.171);
    font-family: 'Economica', sans-serif;
    font-size: 22px;
    min-height: 500px;
    margin: 10px 0;
  }
  &__studies-container:hover{
    background-color:rgba(51, 77, 61, 0.781);
  }

  &__studies-container-detail{
    border-radius: 5%;
    padding:20px;
    border: 1px solid white;
    color: white;
    width:80vw;
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgba(181, 223, 197, 0.171);
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    min-height: 430px;
    
  }

  &__work-container{
    min-height: 500px;
    border-radius: 5%;
    padding:20px;
    border: 1px solid white;
    color: white;
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgba(181, 223, 197, 0.171);
    font-family: 'Economica', sans-serif;
    font-size: 22px;
    margin: 10px 0;
  }
  &__work-container:hover{
    background-color:rgba(51, 77, 61, 0.781);
  }

  &__work-container-detail{
    border-radius: 5%;
    padding:20px;
    border: 1px solid white;
    color: white;
    width:80vw;
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgba(181, 223, 197, 0.171);
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    min-height: 430px;
    margin: 10px 0;
  }

  &__titles{
    font-size:30px;
  }
}


