@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

@media (max-width: 900px) {
  .title-container{
    display: none !important;
  }
}


body{
  background-color: black;;
  box-sizing: border-box;

}

.photos-container{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.title-container{
  // border:1px solid white;
  width: 40vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: left;
  z-index: 0;
}

.main-tittle{
  // position: relative;
  color:white;
  z-index: 1;
  // border:1px solid white;
  width: 60%;
  height: 90%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  padding-left: 75px;
  font-size:30px;
  font-family: Economica;

  &__1{
    position: absolute;
  color:white;
  z-index: 1;
  // border:1px solid red;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  padding-left: 75px;
  top:50%;
  font-size:25px;
  font-family: Economica;
  }
}