@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

.navbar-container{
  padding:10px 0;
  position: absolute;
  top:10px;
  color :white;
  width: 100%;
  height: 8%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Economica', sans-serif;
  z-index: 1;
}