body{
  box-sizing: border-box;
}

@media (max-width: 1144px) {
  .proyect1-container__title{
    padding-top: 100px;
  }
}

.proyect1-container{
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  
  &__title{
    color: rgb(255, 255, 255);
  
  }

  &__description{
    width: 95%;
    text-align:justify;
    color: rgb(255, 255, 255);
  }

  &__block1{
    // border: 1px solid white;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding-left: 45px;
    // z-index: 1;
  }

  &__block2{
    // border: 1px solid white;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img{
    width:400px;
  }
}
