@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

.canvas-container{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: rgb(2, 1, 10);
}

.home-container{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  // background-color: rgba(121, 211, 214, 0.123);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title{
    color: white;
    font-size:45px;
    font-family: 'Economica', sans-serif;
    
  }
}

.prueba{
  color:white;
}